h1{
    text-align: center;
    color: skyblue;
    position: relative;
}

form{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300px;
    height: 70px;
    position: relative;
    margin: auto;
    text-align: right;
    font-family: sans-serif;
    left:0%;    
}

input{
    border-color: aqua;
    align-content: center;    
}

button{
    border-radius: 40px;
    border: 2px solid #FFCCFF;
    height: 25px;
    width: 80px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    position: center;
}