h1{
    text-align: center;
    color: skyblue;
    position: relative;
}

button{
    border-radius: 40px;
    border: 2px solid #FFCCFF;
    height: 25px;
    width: 100px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    position: center;
}

#compras{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    position: relative;
    left: 45%;
}

#productos{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    position: relative;
    left: 45%;
}

#marca{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    position: relative;
    left: 45%;
}

#proveedores{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 85px;
    position: relative;
    left: 45%;
}

#menu{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    height: 30px;
    position: relative;
    left: 0%;
}

#buttonmenu{
    border-radius: 40px;
    border: 2px solid #FFCCFF;
    height: 30px;
    width: 200px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    position: center;
}