
h1{
    text-align: center;
    color: skyblue;
    position: relative;
}

button{
    border-radius: 40px;
    border: 2px solid #FFCCFF;
    height: 25px;
    width: 80px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    position: center;
}

#pedidos{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300px;
    height: 25px;
    position: relative;
    margin: auto;
    text-align: center;
    font-family: sans-serif
}

#buttonpedidos{
    border-radius: 40px;
    border: 2px solid #FFCCFF;
    height: 30px;
    width: 200px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    position: center; 
}
        
#buscarfecha{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 800px;
    height: 25px;
    position: relative;
    margin: auto;
    text-align: center;
    font-family: sans-serif
    left: 50%;
}

#buttonbuscarfecha{
    border-radius: 40px;
    border: 2px solid #FFCCFF;
    height: 30px;
    width: 200px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    position: center;
}

#buscarfecha{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 800px;
    height: 25px;
    position: relative;
    margin: auto;
    text-align: center;
    font-family: sans-serif
}

#idcliente{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 600px;
    height: 20px;
    position: relative;
    font-family: sans-serif;
    left:40%;
}

#inputidcliente{
    border-color: aqua;
    align-content: center;
}
#agregarpedido{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 800px;
    height: 30px;
    position: relative;
    margin: auto;
    text-align: center;
    font-family: sans-serif
}

#buttonagregarpedido{
    border-radius: 40px;
    border: 2px solid #FFCCFF;
    height: 30px;
    width: 200px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    position: center;
}
}

#menu{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    height: 30px;
    position: relative;
    left: 45%;
}

#buttonmenu{
    border-radius: 40px;
    border: 2px solid #FFCCFF;
    height: 30px;
    width: 200px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    position: center;
}